* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e272e;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.loading {
    color: #fff;
    font-size: 28px;
    position: relative;
}

.loading span {
    display: inline-block;
    animation-name: loading;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.loading span:nth-child(2) {
    animation-delay: 0.3s;
}

.loading span:nth-child(3) {
    animation-delay: 0.5s;
}

.loading span:nth-child(4) {
    animation-delay: 0.7s;
}

.loading span:nth-child(5) {
    animation-delay: 0.9s;
}

@keyframes loading {
    0%, 80% {
        transform: rotateY(360deg);
    }
}